body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to bottom, #ffbd75, #ff704d);
    padding: 20px;
    color: #fff;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.restaurant-intro {
    text-align: center;
    max-width: 500px;
}

.login-signup-forms {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    color: #555;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #ff704d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff5722;
}

footer {
    background: linear-gradient(to bottom, #ffbd75, #ff704d);
    padding: 10px;
    text-align: center;
    color: #fff;
}
